spring:
  application:
    name: blog-api


  datasource:
    url: jdbc:h2:mem:blogdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: create-drop  
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        jdbc.batch_size: 20
        order_inserts: true
        order_updates: true
        format_sql: true
    show-sql: true  

  
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false

  
  flyway:
    enabled: false

  
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=500,expireAfterWrite=300s

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


server:
  port: 8080
  servlet:
    context-path: /api
  compression:
    enabled: true


logging:
  level:
    root: INFO
    org.springframework: INFO
    ru.Edje_7: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"


blog:
  jwt:
    secret: tHxUb+2tFv4zrTohtSCks3hiO+LUfD2UEzdDzzZWKBJvkjXvZqkCenFJlHD7SycGDl9g/yW2r5s72zqZyr35WA==
    expiration: 86400000

  pagination:
    default-page-size: 20
    max-page-size: 100


springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

